.food-content{
    width: 1922px;
    height: auto;
    padding:30px 250px 300px 250px;
    background-image: url("../Assets/food_img.png");
}
.sub-head{
    background-color: #ffffff;
    opacity: 0.9;
    width: 1400px;
    height: 210px;
   align-items: baseline;
   padding: 64px 40px 40px 75px;
   border-radius: 20px;
}
.header-div{
    height: 80px;
    background-color: #f7f6f6;
    display: flex;
    gap: 165px;
    width: 1212px;
    border-radius: 10px;
}
.pic1:active{
    color: green;
}
.span1{
    text-align: center;
    font-size: 22px;
    font-family: 'Roboto';
    color: #2c2b34;
}

.span2{
    font-size: 22px;
    font-family: 'Roboto';
    line-height: 10px;
    color: #2c2b34;
}

.food-p1{
    color: #ffffff;
    margin-top: 40px;
    font-size: 60px;
    font-family: 'Halcom';
    font-weight: 600;
}

.food-content1{
    width: 1400px;
    /* height:750px; */
    height: auto;
    background-color: #ffffff;
    opacity: 0.9;
    border-radius: 40px;
    padding: 50px 200px 50px 200px;
}
.food-label{
    font-size: 31px;
    font-family: 'Roboto';
    font-weight:600;
}
.food-textarea
{
    width: 1000px;
    height: 300px;
    background-color: #ffffff;
}
.food-content2{
    margin-top: 100px;
    width: 1400px;
    height: auto;
    background-color: #ffffff;
    opacity: 0.9;
    border-radius: 40px;
    padding: 50px 200px 50px 200px;
}
.food-content-note{
    font-size: 33px;
    font-family: 'Roboto';
    font-weight: 800;
    text-align: left;
}
.food-select{
    width:1000px;
    height: 60px;
    font-size: 31px;
    font-family: 'Roboto';
    font-weight: 300;
}
.food-span{
    color: #818181;
    font-weight: 300;
}
.food-para{
    font-size: 28px;
    font-family: 'Roboto';
    font-weight: 300;
    text-align: left;
}
.content6-btns-btn1{
    width: 280px;
    height: 65px;
    border-style: solid;
    border-radius: 10px;
    background-color: #ffffff;
    color: #000000;
    font-size: 31px;
    font-weight: bold;
    font-family: 'Roboto';
}
.content6-btns-btn2{
    width: 280px;
    height: 65px;
    border-style: solid;
    border-radius: 10px;
    background-color: #81c134;
    color: #ffffff;
    font-size: 31px;
    font-weight: bold;
    font-family: 'Roboto';
    margin-left: -102px;
}