.content{
    width: 1922px;
    height: 1450px;
}
.main{
    /* padding: 200px; */
    display:flex;
    justify-content: space-between;
    align-items:end;
    gap: 10px;
    padding: 100 50px 100px 50px;
    margin: auto;
    
}
.header p{
    font-size:81px;
    font-weight: bold;
    font-family: 'Halcom';
}

.left{
    width: 600px;
    height: 900px;
    background-color:#f9fbf9;
}
.left-form{
    margin-top: 22px;
}
.form-inp{
    width: 470px;
    height: 65px;
    border-radius: 10px;
    background-color:#ffffff;
    border: none;
    font-size: 26px;
    font-family: 'Roboto';
    text-align: left;
}
.robo-inp{
    width: 250px;
    height: 35px;
    font-size: 31px;
    font-family: 'Roboto';
    text-align: left;
    background-color: #eff7e7;
    border-radius: 10px;
    border: none;
}
.form-email{
    width: 470px;
    height: 65px;
    border-radius: 10px;
    font-family: 'Roboto';
    text-align: left;
    font-size: 26px;
    font-weight: 300;
    background-color:#81c134;
    border: none;
    color: #2c2b34;
}
.left label{
    font-size: 31px;
    font-family: 'Roboto';
    color: #2c2b34;
    margin-left: 19px;
}
button{
    width: 230px;
    height: 60px;
    background-color: #81c134;
    font-size: 28px;
    font-family: 'Halcom';
    border-radius: 15px;
    margin-top: 35px;
    
}
.right{
    /* background-color:#f9fbf9; */
    width: 650px;
    height: 900px;
}
.right p{
    font-size: 55px;
    font-family: 'Halcom';
}
.right-form select{
    width: 650px;
    height: 65px;
    border-radius: 10px;
    background-color:#eff7e7;
    border: none;
    font-size: 26px;
    font-family: 'Roboto';
    text-align: left;
    
}
.span-peech{
    color: #f4993f;
    font-size: 28px;
}
.span-green{
    color: #81c134;
    font-size: 28px;
}
.drop-down{
    padding: 0px 10px;
}
.upper{
    display: flex;
    justify-content: space-between;
}
.download-icon{
    margin-right: 10px;
}
.lower{
    margin-top: -38px;
}
.lower-div span{
    font-size: 28px;
}
