.finance-content{
    width: 1922px;
    height: auto;
    background-image: url("../Assets/finance_img.png");
    background-size: cover;
    padding: 30px 250px 250px 250px;
}
.sub-head {
    background-color: #ffffff;
    opacity: 0.9;
    width: 1400px;
    height: 210px;
    align-items: baseline;
    padding: 64px 40px 40px 75px;
    border-radius: 20px;
}

.header-div {
    height: 80px;
    background-color: #f7f6f6;
    display: flex;
    gap: 165px;
    width: 1212p;
    border-radius: 10px;
}
.finance-p p{
    margin-top: 50px;
    font-size: 60px;
    font-family: 'Roboto';
    font-weight: 600;
    color: #ffffff;
    
}
.finance-content1{
    margin-top: 50px;
    width: 1400px;
    height:600px ;
    background-color: #ffffff;
    border-radius: 40px;
    padding: 30px 100px 50px 100px;
    opacity: 0.9;
}
.finance-content1-p1{
    text-align: center;
    font-size: 60px;
    font-family: 'Roboto';
    font-weight: 600;
    color: #000000;
}
.finance-content1-p2{
    
    font-size: 33px;
    font-family: 'Roboto';
    font-weight: 500;
    color: #000000;
}
.finance-content1-p3{
    font-size: 23px;
    font-family: 'Roboto';
    font-weight: normal;
    color: #000000;
}
.finance-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #81c134;
    color: #ffffff;
    border: none;
    text-align: center;
}

