
body{ font-family: 'Poppins', sans-serif; font-size: 18px; line-height: 28px;}

h1,h2,h3,h4,h5,h6{ 
}

.container{    max-width: 1440px;    margin: 0 auto;    }
.site-header .navbar {    display: flex;    justify-content: space-between;}
.site-header .navbar ul {    display: flex;    justify-content: space-between;    align-items: center;    gap: 50px;    border: none;}
.site-header .navbar ul li {    list-style: none;}

.site-header .navbar .navbar-toggler {    border: none;}
.site-header {    
    padding: 15px 0; 
    box-shadow: 1px 1px 6.5px rgba(0,0,0,0.16);
}

.login-content {    background: #f9f9f9;    padding: 60px;    border-radius: 20px;}
.welcome-sec {        margin: 60px 0 180px;    position: relative;}
.login-img {    position: absolute;    right: 0;    top: 60px;    width: 900px;}
.login-img img {    max-width: 100%;    max-height: 600px;    width: 100%;}
.welcome-sec .login-btns button {    background: transparent;    border: none;      border-radius: 0;    font-size: 36px;
    font-weight: 500;    padding: 0;}

    .welcome-sec .login-btns button {
        background: transparent;
        border: none;
        border-bottom: 2px solid #cad2c5;
        border-radius: 0;
        font-size: 36px;
        font-weight: 500;
        padding: 15px 22px;
        color: #cad2c5;
        position: relative;
    }

.signInform input, .registerform input {
    width: 100%;
    margin: 0 0 15px;
    background-color: #d9d9d9;
    font-size: 18px;
    border: none;
    padding: 15px;
    border-radius: 10px;
}


.login-content .text-outer {
    width: 60%;
}

.login-content .text-outer .text-col {
    width: 450px;
    margin: 0 auto;
}
.login-btns {
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: calc(100% - 60px);
    margin: 0 0 25px;
}

.login-btns button:after, .login-btns:after {
    position: absolute;
    content: "";
    height: 4px;
    width: 100%;
    background: #cad2c5;
    left: 0;
    bottom: 0;
}

.welcome-sec .login-btns button.active {    
    color: #81C14B;
}

.welcome-sec .login-btns button.active:after {
    background: #81C14B;
    z-index: 1;
}


.login-btns:after {height: 5px;}

.welcome-sec .p1 {
    font-size: 23px;
    color: #2C2B34;
    margin-bottom: 40px;
}

.welcome-sec .p2 {
    font-size: 54px;
    position: relative;
    padding: 0 0 10px;
    padding: 0 0 15px;
    margin: 0 0 25px;
}
.welcome-sec .p1 a{color: #2C2B34;text-decoration: underline; }
.welcome-sec .p2:after {
    content: "";
    height: 2px;
    width: 50%;
    position: absolute;
    
    left: 0;
    background: #2c2b34;
    bottom: -10px;
}


.welcome-sec .p3 {
    margin-bottom: 60px;
    font-size: 24px;
}



.welcome-sec form.signInform, .welcome-sec form.registerform {
    text-align: center;
}

.welcome-sec form.signInform span, .welcome-sec form.registerform span {
    font-size: 24px;
    display: block;
    margin: 25px 0 30px;
}

.btn {
    background: #81c14b;
    border: none;
    font-size: 24px;
    color: #fff;
    padding: 15px 40px;
    border-radius: 15px;
    transition: 0.5s;
}

.btn:hover{ background: #2C2B34;
    transition: 0.5s;  color: #fff;
}
form.registerform {
    margin-top: 60px;
}

.footer-container {
    background: #2c2b34;
    color: #fff;
    padding: 60px 0;

}

.footer-upper,.footer-lower {
    display: flex;
    justify-content: space-between;
}

.footer-subdiv {
    background: #81C14B;
    text-align: center;
    padding: 40px 80px;
    border-radius: 15px;
    font-size: 34px;
    margin-top: -150px;
    
}
.footer-container hr {
    background: #81C14B;
    opacity: 1;
    height: 1px;
    border: none;
    margin: 30px 0;
}
.footer-upper p.footer-p1 {
    font-size: 53px;
    font-weight: 700;
    margin: 0 0 50px;
}

.footer-upper a {
    color: #2C2B34; 
    display:block;
    text-decoration: none;

}
p.footer-p2 a{ margin-top: 20px;}

/********Main Home page******/
section.home-banner {
    height: 100vh;
    align-items: center;
    display: flex;
    color: #fff;
    background-size: cover;
}

section.home-banner h1 {
    text-align: left;
    font-family: 'Poppins', sans-serif;
    margin: 0 0 20px;
    font-size: 80px;
    font-weight: 600;
    line-height: 80px;
}

section.home-banner p {
    font-size: 24px;
}

section.personal-carbon {background: #f9fdf6;padding: 80px 0;}

.title-block h2 span {
    display: block;
    color: #000;
}

.title-block h2 {
    color: #8a94a0;
}

.title-block {
    margin: 0 0 80px;
}

.carbon-contant .text-col span {
    display: block;
    color: #6c7888;
    margin: 0 0 25px;
    font-weight: 600;
}

.carbon-contant .text-col b {
    display: block;
    margin: 0 0 25px;
}

.carbon-contant .text-col b, .carbon-contant .text-col span {
    font-size: 20px;
}

.carbon-contant .text-col {
    padding-left: 50px;
}

.carbon-contant .img-col {
    position: relative;
}

.carbon-contant .img-col:after {
    content: "";
    width: 4px;
    height: 100%;
    background: #cad2c5;
    position: absolute;
    right: 0;
    top: 0;
}

.carbon-contant .img-col:before {
    content: "";
    position: absolute;
    width: 4px;
    top: 0;
    right: 0;
    height: 100px;
    background: #81c14b;
    z-index: 1;
}

.carbon-contant .text-col p {
    margin: 0 0 30px;
    font-size: 18px;
    line-height: 30px;
}

.form-assential {
    padding: 80px 0;
    position: relative;
}
.form-assential:after {
    content: "";
    width: 25%;
    background-image: url(./Images/david.png);
    height: calc(100% - 200px);
    position: absolute;
    right: 0;
    top: 0;
    background-size: cover;
    background-position: center bottom;
    border-radius: 0 0 0 235px;
}
.form-assential .title-block {
    margin: 0 0 40px;
}

.icon-with-contant {
    text-align: center;
    margin: 60px 0 40px;
}

.icon-with-contant .icon {
    margin: 0 0 20px;
}

.icon-with-contant .btn {
    margin: 20px 0;
}

.form-assential .btn {
    margin: 40px 0;
}

.protecting-data h2 {
    color: #8a94a0;
    margin: 0 0 40px 0;
}

.protecting-data .data-top {
    margin: 0 0 40px;
}

section.protecting-data {
    background: #f9f9f9;
    padding: 60px 0 180px;
}

.data-bottom .img-col img {
    width: 100%;
}

.data-bottom .text-col {
    padding-left: 60px;
}



/*******Responsive Css Starts Here*******/
@media(max-width:1440px){
    .container{
        max-width: 1280px;
    }

    .form-assential:after {               width: 20%;               height: calc(100% - 250px);        border-radius: 0 0 0 100px;    }
}