.travel-content {
    width: 1922px;
    height: auto;
    /* height: auto; */
    background-image: url("../Assets/travel_img.png");
    padding: 30px 250px 250px 250px;
}

.sub-head {
    background-color: #ffffff;
    opacity: 0.9;
    width: 1400px;
    height: 210px;
    align-items: baseline;
    padding: 64px 40px 40px 75px;
    border-radius: 20px;
}

.header-div {
    height: 80px;
    background-color: #f7f6f6;
    display: flex;
    gap: 165px;
    width: 1212p;
    border-radius: 10px;
}

.pic1:active {
    color: green;
}

.span1 {
    text-align: center;
    font-size: 22px;
    font-family: 'Roboto';
    color: #2c2b34;
}

.span2 {
    font-size: 22px;
    font-family: 'Roboto';
    line-height: 10px;
    color: #2c2b34;
}

.travel-content1 {
    /* height: 1900px; */
    height: auto;
    border-radius: 20px;
    background-color: #ffffff;
    opacity: 0.9;
    margin-top: 100px;
    padding: 30px 150px 100px 150px;
}

.travel-Ist-h1 {
    font-size: 60px;
    font-family: 'Halcom';
}

.travel-sub-content1 {
    margin-top: 50px;
    font-size: 31px;
    font-family: 'Roboto';
    font-weight: normal;
}

.travel-sub-p1 {
    font-size: 26px;
    font-family: 'Roboto';
}

.travel-sub-p2 {
    font-size: 26px;
    font-family: 'Roboto';
}

.travel-subdiv-p3 {
    font-size: 18px;
    font-family: 'Roboto';
    margin-left: 28px;
    margin-top: -27px;
}

.flight-types {
    border: 2px solid lightgrey;
    width: 1124px;
    height: 600px;
    padding: 20px;
}

.type-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    width: 1034px;
    height: 30px;
    margin: 20px;
    /* padding: 20px; */
}

.type-main h1 {
    margin: auto;
    left: 0;

}

.type-main input {
    background-color: transparent;
    border: 1px solid lightgrey;
    text-align: center;
    border-radius: 10px;
    color: #000000;
}

.flight-hr {
    width: 1034px;
    margin-top: 85px;
    border: 2px solid #81c14b;
}

.inp-label {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.flight-inp2-div input {
    width: 1124px;
    height: 63px;
    border-radius: 10px;
    font-size: 31px;
    font-family: 'Roboto';
}

.flight-inp2-div select {
    width: 1124px;
    height: 63px;
    border-radius: 10px;
}

.flight-inp2-div h1 {
    font-weight: 30px;
    line-height: 60px;
}

.inp2-span {
    color: #818181;
}

.flight-span {
    font-size: 28px;
    font-weight: 300;
    font-family: 'Roboto';
}

.flight-sub-inp {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 1034px;
}
.flight-sub-inp h1 {
    width: 280px;
    margin-top: 40px;
}

.sub-inp1 input {
    width: 280px;
    display: flex;
    justify-content: space-between;
}

.flight-sub-inp label {
    font-size: 28px;
    font-family: 'Roboto';
}

.travel-content2 {
    height:auto;
    border-radius: 20px;
    background-color: #ffffff;
    opacity: 0.9;
    margin-top: 50px;
    padding: 30px 150px 200px 150px;
}

.travel-2nd-h1 {
    color: #ffffff;
    margin-top: 40px;
    font-size: 60px;
    font-family: 'Halcom';
}

.travel-content2 p {
    font-size: 28px;
    font-family: 'Roboto';
    font-weight: 900;
}

.flight-inp3-div label {
    font-size: 28px;
    font-weight: 300;
    font-family: 'Roboto';
    width: 1124px;
}

.flight-inp3-div input {
    font-size: 28px;
    font-weight: 300;
    font-family: 'Roboto';
    width: 1124px;
    height: 60px;
    width: 1124px;
    height: 63px;
    border-radius: 10px;
}

.flight-main-row h1 {
    margin: auto;
    text-align: left;
    width:280px;
    height: 60px;
}

.flight2-types {
    align-items: center;
    border: 2px solid lightgrey;
    width: 1125px;
    height: 700px;
    padding: 20px;
}

.flight-main-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 20px;
    padding: 20px;
}

.flight-main-row {
    text-align: center;
    font-size: 26px;
    font-family: 'Roboto';
}

.flight-sub-clm {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.flight-sub-clm input {
    text-align: center;
}

.span-label {
    font-size: 30px;
  
}

.flight-sub1-inp input {
    width: 500px;
  

}
.flight-sub1-inp  {
    width: 1125px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.flight-sub-inp2{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 1125px;
}
.flight-sub-inp3{
   width: 1125px;
}
.subdiv-inp3-span{
    text-align: center;
    font-size: 31px;
    font-weight: 500px;
    font-family: 'Roboto';
}
.flight-subdiv-inp3{
    display: flex;
    justify-content: center;
    gap:18px;
    
}
.flight-subdiv-inp3 h1{
    width:280px;
    height: 60px;
    text-align: left;
    margin-top: 30px;
}
.flight-sub-inp2 button{
    width: 280px;
    height: 60px;
    text-align: center;
    background-color: #ffffff;
}
.tranportbtn:focus{
    background-color: #81c134;
}
.flight-sub-inp3 input{
    width: 280px;
    gap: 10px;
}
.flight-types {
    border: 2px solid lightgrey;
    width: 1124px;
    height: 600px;
    padding: 20px;
}
.flight-inp2-div label{
    font-size: 28px;
    font-weight: 300;
    font-family: 'Roboto';
}
.flight-inp2-div select{
    font-size: 28px;
    font-weight: 300;
    font-family: 'Roboto';
}
.flight-inp2-div textarea{
    width:1124px;
    height: 300px;
    border-radius: 10px;
}
.flight-sub2-inp{
    display: flex;
}
.sub-inp2 input{
    width: 500px;
}
.content6-btns-btn1{
    width: 280px;
    height: 65px;
    border-style: solid;
    border-radius: 10px;
    background-color: #ffffff;
    color: #000000;
    font-size: 31px;
    font-weight: bold;
    font-family: 'Roboto';
}
.content6-btns-btn2{
    width: 280px;
    height: 65px;
    border-style: solid;
    border-radius: 10px;
    background-color: #81c134;
    color: #ffffff;
    font-size: 31px;
    font-weight: bold;
    font-family: 'Roboto';
    margin-left: -102px;
}
