.modalcontainer{
    height: auto;
}
.modalcontent{
    background-color: #3f3e46;
    text-align: center;
    width: 1024px;
    margin: auto;
    height: 700px;
    border-radius:30px;
}
.title span{
   margin-right: -56pc;
   font-size: 28px;
   color: #ffffff;
   font-weight: bold;
}
.title p{
    font-size: 60px;
    font-family: 'Halcom';
    color: #ffffff;
}
.sub-div{
    background-color: #3f464d;
    width: 750px;
    height: 250px;
    margin: auto;
    border-radius:30px;
}
.sub-div button{
    border: none;
    color: #ffffff;
}
.modal-p1{
    font-size: 28px;
    font-family: 'Halcom';
    color: #ffffff;
}
.modal-p2{
    font-size: 28px;
    font-family: 'Halcom';
    color: #ffffff;
}
.modal-p3{
    font-size: 28px;
    font-family: 'Halcom';
    color: #ffffff;
    margin-top: 30px;
}
.modal-p4{
    font-size: 28px;
    font-family: 'Halcom';
    color: #ffffff;
    line-height: 10px;
}
.modalfooter{
    margin-top: 50px;
    display: flex;
    justify-content:space-between;
    margin-left: 131px;
    margin-right: 131px;
    padding: 15px;
    background-color:#58575e;
    border-radius:2px;
}
.modal-p5{
    font-size: 28px;
    font-family: 'Halcom';
    color: #ffffff;
}


