.confirm-content{
    width:1922px;
    height: auto;
    background-image: url("../Assets/finance_img.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 300px 200px 300px;
}
.inner-content{
    background-color: #ffffff;
    height: 750px;
    border-radius: 40px;
   padding: 100px 300px;
}
h1{
    text-align: center;
    font-size: 60px;
    font-family: 'Halcom';
}
h3{
    text-align: center;
    font-size: 31px;
    font-family: 'Roboto';
    margin-top: 55px;
}
.confirm-btn1{
    background-color: #81c134;
    border: none;
    color: #ffffff;
    font-size: 26px;
}
.confirm-btn2{
    background-color: #ffffff;
    border: 3px solid black;
    color: #000000;
    font-size: 26px;
    font-weight: bold;
}
.confirm-btn{
    padding: 0 230px;
}

.contentinner-2nd{
    margin-top: 100px;
    border-radius: 40px;
    background-color: antiquewhite;
    height: auto;
    padding: 30px;
}
form input{
    border: 2px solid black;
}