@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-dark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

p {
  font-size: 1.2rem;
  line-height: 1.7;
  margin-bottom: 2rem;
}

.container {
  @apply max-w-7xl;
}

.container.small {
  @apply max-w-5xl;
}

section.section {
  @apply py-16 xl:py-32;
}

.auth-tab::after {
  content: "";
  @apply absolute border-[inherit] rounded w-[105%] border-b-[7px] md:border-b-4  left-0 bottom-0;
}

.auth-tab-selected {
  @apply text-brand;
}

.auth-tab-selected::after {
  @apply border-brand z-50;
}

.heading-underline::after {
  content: "";
  @apply absolute bottom-0 w-1/2 border left-0 border-brand-dark;
}

table th {
  @apply text-white text-xl font-normal
}

table thead {
  @apply bg-grey-dark2
}

table th:first-child{
  border-top-left-radius: 15px;
}

table th {
  @apply py-3;
}

table th:last-child{
  border-top-right-radius: 15px;
}

table td {
  @apply py-4 text-center text-lg font-light border-r border-grey-dark2;
}

table td:last-child {
  @apply border-r-0
}

tbody tr:nth-child(even){
  @apply bg-white
}

tbody tr:nth-child(odd) {
 @apply bg-grey-light
}

table tr:last-child td:last-child { 
  border-bottom-right-radius: 15px;
}

table tr:last-child td:first-child { 
  border-bottom-left-radius: 15px;
}
