 .home-content{
    width: 1922px;
    /* height: 8800px; */
    height: auto;
    background-image: url('../Assets/home-img.png');
    padding: 30px 250px 200px 250px;
}
.sub-head{
    background-color: #ffffff;
    opacity: 0.9;
    width: 1400px;
    height: 210px;
   align-items: baseline;
   padding: 64px 40px 40px 75px;
   border-radius: 20px;
}
.header-div{
    height: 80px;
    background-color: #f7f6f6;
    display: flex;
    gap: 165px;
    width: 1212p;
    border-radius: 10px;
}
.pic1:active{
    color: green;
}
.span1{
    text-align: center;
    font-size: 22px;
    font-family: 'Roboto';
    color: #2c2b34;
}
.span2{
    font-size: 22px;
    font-family: 'Roboto';
    line-height: 10px;
    color: #2c2b34;
}

.home-content1{
    padding: 40px 250px 0px 250px;
    background-color: #ffffff;
    border-radius: 20px;
    margin-top: 100px;
    height: 950px;
    opacity: 0.9;
}

.home-content1-p1{
    font-size: 60px;
    font-family: 'Halcom';
    font-weight: bold;
}
.head1{
    display: flex;
    justify-content: space-between;
}
.home-head-rightinp{
    width: 335px;
    height: 60px;
    margin-right: -105px;
    margin-top: 2px;
    background-color: white;
    border: 2px solid lightgrey;
    color: black;
}
.home-icon1{
    position: absolute;
   margin-left: 62px;
   margin-top: 14px;
}
.home-content1-p2{
float: right;
font-size: 30px;
margin-right: -113px;
}
.home-content1-select{
    width: 1034px;
    height: 60px;
    font-size: 26px;
    font-family: 'Roboto';
    background-color: #ffffff;
    border-radius: 10px;
}
.home-content3-select1{
    border-radius: 10px;
}
.home-content1-inp{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
}
.home-form-label{
    font-size: 31px;
    font-family: 'Roboto';
    font-weight: normal;
    font-style: normal;
    
}
.input1{
    background-color: #ffffff;
    opacity: 1;
    width: 280px;
    height: 60px;
    border: 2px solid lightgrey;
    color: #000000;padding: 0px;
    text-align: center;
    border-radius: 10px;
} 
.input2{
    background-color: #ffffff;
    opacity: 1;
    width: 950px;
    height: 60px;
    border: 2px solid lightgrey;
    color: #000000;padding: 0px;
    text-align: center;
    border-radius: 10px;
}
.form-input{
    width: 1034px;
    height: 60px;
    font-size: 26px;
    font-family: 'Roboto';
    border: 2px solid lightgrey;
}
.label-span{
    color: #818181;
}
.home-content2{
    margin-top: 100px;
    /* height: 1150px; */
    height: auto;
    background-color: #ffffff;
    opacity: 0.9;
    border-radius: 20px;
    padding:20px 250px 100px 250px ;
}
.home-content2-p1{
    font-size: 45px;
    font-family: 'Halcom';
    font-weight: bold;
    text-align: center;
}
.home-content2-select{
    width: 950px;
    height: 60px;
    font-size: 26px;
    font-family: 'Roboto';
    border: 2px solid lightgrey;
    border-radius: 10px;
}
.content2-span{
    display: flex;
    justify-content: space-between;
}
.content2-span2{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.content2-input2{
    border: 2px solid lightgrey;
    color: #000000;
    width: 460px;
    height: 60px;
    font-size: 26px;
    font-family: 'Roboto';
}
.content2-select2{
    width: 460px;
    height: 60px;
    /* margin-right: -125px; */
    border: 2px solid lightgrey;
    color: #000000;
    font-size: 26px;
    font-family: 'Roboto';
}

.home-content3{
    margin-top:100px;
    /* height: 930px; */
    height: auto;
    background-color: #ffffff;
    opacity: 0.9;
    border-radius: 20px;
    padding: 50px 250px 100px 250px;
}
.home-content3-p1{
    text-align: center;
    font-size: 47px;
    font-family: 'Halcom';
    font-weight: bold;
}
.home-content3-select1{
    width: 1014px;
    height: 60px;
    font-size: 26px;
    font-family: 'Roboto';
}
.content3span1{
    color: #818181;
    font-size: 26px;

}
.home-content3-span1{
    display: flex;
    justify-content: space-between;
    gap: 100px;
}
.home-content3-inp1{
    width: 500px;
    height: 60px;
    border: 2px solid lightgrey;
    /* position: absolute; */
}
.home-content3-inp2{
    width: 500px;
    height: 60px;
    border: 2px solid lightgrey;
    /* position: absolute; */
    margin-right: -125px;
}
.home-content3-input1{
    width: 1034px;
    height: 60px;
    border: 2px solid #818181;
    font-family: 'Roboto';
}
.home-content4{
    margin-top:100px;
    /* height: 1350px; */
    height: auto;
    background-color: #ffffff;
    opacity: 0.9;
    border-radius: 20px;
    padding: 50px 250px 100px 250px;
}
.home-content4-p1{
    text-align: center;
    font-size: 47px;
    font-family: 'Halcom';
    font-weight: bold;
}
.content4-span4{
        display: flex;
        justify-content: space-between;
        gap: 100px;
}
.content4-input4{
    border: 2px solid lightgrey;
    color: #000000;
    width: 450px;
    height: 60px;
    font-size: 26px;
    font-family: 'Roboto';
}
.content4-select4{
    width: 450px;
    height: 60px;
    border: 2px solid lightgrey;
    color: #000000;
    font-size: 26px;
    font-family: 'Roboto';
}
.home-content5{
    margin-top:100px;
    height: 3350px;
    background-color: #ffffff;
    opacity: 0.9;
    border-radius: 20px;
    padding: 50px 250px 0px 250px;
}
.home-content5-p1{

    font-size: 33px;
    font-family: 'Roboto';
    font-weight: 900;
}

.content5-inp1-div{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}
.content5-inp1{
    width: 400px;
    height: 60px;
    border: 2px solid lightgrey;
    font-size: 24px;
    font-family: 'Roboto';
}
.content5-inp2-div{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}
.content5-inp2{
    width: 274px;
    height: 60px;
    border: 2px solid lightgrey;
    font-size: 24px;
    font-family: 'Roboto';
    background-color: white;
}
.content5-inp3-div{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}
.content5-inp3{
    width: 436px;
    height: 60px;
    border: 2px solid lightgrey;
    font-size: 26px;
    font-family: 'Roboto';
    background-color: white; text-align: center;
}
.content5-textarea1{
    width: 1034px;
    height: 300px;
    background-color: #ffffff;
    border-radius: 20px;
}
.content5-textarea2{
    width: 1034px;
    height: 300px;
    background-color: #ffffff;
    border-radius: 20px;
}
.content6-btns{
    display: flex;
    justify-content: space-between;
   
   
}
.content6-btns-btn1{
    width: 280px;
    height: 65px;
    border-style: solid;
    border-radius: 10px;
    background-color: #ffffff;
    color: #000000;
    font-size: 31px;
    font-weight: bold;
    font-family: 'Roboto';
}
.content6-btns-btn2{
    width: 280px;
    height: 65px;
    border-style: solid;
    border-radius: 10px;
    background-color: #81c134;
    color: #ffffff;
    font-size: 31px;
    font-weight: bold;
    font-family: 'Roboto';
    margin-left: -102px;
}