.container{
    width: 1922px;
}
.general-content{
    height: auto;
    width: 1922px;
    height: auto;
    background-image: url('../Assets/general_info_img.png');
    padding: 30px 250px 200px 250px;
    background-size: cover;
    background-repeat: no-repeat;
}
.sub-head{
    background-color: #ffffff;
    opacity: 0.9;
    width: 1400px;
    height: 200px;
   align-items: baseline;
   padding: 64px 40px 40px 65px;
   border-radius: 20px;
}
.header-div{
    height: 80px;
    background-color: #f7f6f6;
    display: flex;
    gap: 190px;
    width: 1212p;
    padding-left:63px;
    border-radius: 10px;
}

.pic1:active{
    color: green;
}

.span1{
    text-align: center;
    font-size: 22px;
    font-family: 'Roboto';
    color: #2c2b34;
}
.span2{
    font-size: 22px;
    font-family: 'Roboto';
    line-height: 10px;
    color: #2c2b34;
}
.gen-h1{
    color: #ffffff;
    font-size: 60px;
    margin-top: 73px;
}
.sub-content1{
    margin-top: 30px;
    width: 1400px;
    /* height: 1650px; */
    height: auto;
    background-color:#ffffff;
    opacity: 0.9;
    border-radius: 15px;
    padding: 20px 100px 100px 100px
}
.content1-inp1-name{
    display: flex;
    justify-content: space-between;
}
.p1{
    text-align: right;
    font-size: 24px;
}
.inp-text{
    background-color:rgb(227, 223, 223);
    opacity: 1;
    border-radius: 10px;
    width:475px;
    height:60px;
    padding: 5px;
    font-size: 26px;
    font-family: 'Roboto';
}

.select1{
    width:475px;
    height:10px;
    border-radius: 10px;
    opacity: 1;
    border: none;
    padding: 5px;
    font-size: 26px;
    font-family: 'Roboto';
}

Select Control{
    height: 50px;
}
.select2{
    width:475px;
    height:60px;
    border-radius: 10px;
    background-color:rgb(227, 223, 223);
    opacity: 1;
    border:none;
    padding: 5px;
    font-size: 26px;
    font-family: 'Roboto';
}
.select3{
    width:475px;
    height:60px;
    border-radius: 10px;
    /* background-color:rgb(227, 223, 223); */
    opacity: 1;
    border:none;
    padding: 5px;
    font-size: 26px;
    font-family: 'Roboto';
}
.select4{
    width:475px;
    height:60px;
    border-radius: 10px;
    /* background-color:rgb(227, 223, 223); */
    opacity: 1;
    border:none;
    padding: 5px;
    font-size: 26px;
    font-family: 'Roboto';
}
.inp-btnss{
    display:flex;
    justify-content: space-between;
    gap: 20px;
    margin-left: 50px;
    margin-top: 10px;
}
.inp-btn{
    width:120px;
    height: 50px;
    background-color: #ffffff;
    color: #000000;
    margin-top: 0;
    border: 1px solid rgb(236, 232, 232);
}
.select5{
    width:1275px;
    height:60px;
    border-radius: 10px;
    background-color: #ffffff;
    opacity: 1;
    border:2px solid lightgrey;
    padding: 5px;
    font-size: 26px;
    font-family: 'Roboto';
}
.gen-h2{
    color: #ffffff;
    font-size: 60px;
    margin-top: 128px;
}
.sub-content2{
    width: 1400px;
    /* height: 800px; */
    height: auto;
    opacity: 0.9;
    padding: 20px 100px 100px 100px;
    background-color: #ffffff;
    margin-top: 50px;
    border-radius: 20px;
}
.sub-content2-p1{
    font-size: 33px;
    font-family: 'Roboto';
    font-weight: 600;
}
.sub-content2 label{
    font-size: 31px;
    font-family: 'Roboto';
    font-weight: 400;
}
.sub-content2-inp1{
    background-color: #ffffff;
    border-radius: 10px;
    width:475px;
    height:60px;
    padding: 5px;
    border: none;
}
.inp-text1{
    /* float: left; */
}
.inp-text2{
    float: right;
}
.gen-span{
    color: #818181;
}
.sub-content2 textarea{
    background-color: #ffffff;
    border-radius: 10px;
    width:475px;
    height:60px;
    padding: 5px;
    width: 1034px;
    height: 300px;
    opacity: 1;
}
.sub-content2-btns{
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    /* padding:30px; */
}
.sub-content2-btn1{
   background-color: #ffffff;
   color: #000000;
   border: 2px solid lightgrey;
   border-radius: 1px;
}
.sub-content2-btn2{
    background-color: #81c134;
    margin-right: 9px;
    margin-right: 138px;
    color: #ffffff;
}