.content {
    height: auto;
}
.content-p {
    font-size: 81px;
    font-family: 'Halcom';
}

.upper-div {
    padding: 80px;
    background-color: #f9fbf9;
    width: 1400px;
    height: 700px;
    display: block;
}

.head {
    display: flex;
    gap: 10px;
}

.head p {
    font-size: 38px;
    font-family: 'Halcom';
}

form input {
    width: 562px;
    height: 65px;
    background-color: #ffffff;
    border: none;
    font-size: 26px;
    font-size: 'Roboto';
    margin-left: 0px;
}

form label {
    font-size: 28px;
    font-family: 'Roboto';
}

.inp1 {
    display: flex;
    justify-content: space-between;
}

.inp2 {
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
}

form button {
    width: 230px;
    height: 60px;
    background-color: #81c134;
    font-size: 28px;
    font-family: 'Halcom';
    color: #ffffff;
    text-align: center;
    border: none;
    margin-top: 121px;
}

.lower-div {
    padding: 80px;
    background-color: #f9fbf9;
    width: 1400px;
    height: 1025px;
    margin-top: 30px;
}

.lower-head {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.lower-btn1 {
    width: 232px;
    height: 53px;
    background-color: #ffffff;
    color: #000000;
    font-size: 28px;
    font-family: 'Halcom';
    margin-right: 20px;
}

.lower-btn2 {
    width: 232px;
    height: 53px;
    background-color: #ffffff;
    color: #000000;
    font-size: 28px;
    font-family: 'Halcom';
}
.lower-p{
    font-size: 31px;
    font-family: 'Roboto';
    margin-top: 54px;
    margin-bottom: -24px;
}
.lower-inp {
    display: flex;
    gap: 10px;
    align-items: baseline;
}

.lower-inp input {
    width: 959px;
    height: 65px;
    background-color: #d9dbd9;
    border: none;
}
.lower-inp button {
    width: 229px;
    height: 69px;
    background-color: #81c134;
    color: #ffffff;
    font-size: 28px;
    font-family: 'Halcom';
    border: none;
}

/* .table tr:nth-child(even){
    background-color: #818181;
}
.table tr,.table td{
    border:2px solid #000000;
} */
.table{
    margin-top: 40px;
}
table td{
    height: 65px;
}
.table tr th{
    font-size: 31px;
    font-weight: 500px;
    color: #ffffff;
    background-color: #818181;
    font-family: 'Roboto';
}

.table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even){
    background-color: #6f2222;
}

.table tr:hover {background-color: #ddd;}